button, select {
  text-align-last: center;
  width: 100%;
  padding-left: auto;
  padding-right: auto;
  padding-top: 10px;
  padding-bottom: 10px; }

.card {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  border: solid;
  border-width: 5px;
  border-radius: 15px;
  border-color: rgba(196, 138, 138, 0.13);
  background-color: rgba(194, 194, 194, 0.418); }

.card:hover {
  transform: scale(1.01);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.034), 0 5px 5px rgba(0, 0, 0, 0.048), 0 5px 5px rgba(0, 0, 0, 0.06), 0 5px 5px rgba(0, 0, 0, 0.072), 0 5px 5px rgba(0, 0, 0, 0.086); }

.widecard {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  object-fit: cover; }

.widecard * {
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; }

.horisontalRow {
  display: flex; }

nav {
  display: flex;
  background-color: rgba(0, 0, 0, 0.24);
  padding: 15px; }

main {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 1000px;
  align-self: center;
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 600px) {
  main {
    background-image: #ffffff;
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    align-self: center;
    grid-row-gap: 100px; }

  .widecard {
    display: flex;
    flex-direction: column;
    grid-column: 1; } }
body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

/*# sourceMappingURL=style.css.map */
